@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f7f2f2;
  --foreground: #0a0a0a;
}
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #c7c7c7;
  }
}
.bebas_Neue {
  font-family: var(--font-Bebas_Neue);
}
.manrope {
  font-family: var(--font-Manrope);
}

@layer base {
  body {
    @apply bg-[var(--background)] manrope text-[var(--foreground)]
  }
}
@layer utilities {
  .form-label {
    @apply inline-block mb-1 cursor-pointer
  }
  .form-control {
    @apply inline-block mb-2 w-full py-3 px-4 bg-stone-800 rounded-md text-lg focus-visible:outline-none focus-visible:ring-2 ring-stone-600 outline-none border-none
  }
}
